@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

* {
   font-family: 'Cairo', sans-serif;
   text-align: center;
   text-decoration: none;

}

/* -------------------Navbar (Used and modified code from Whiskey Drop mini project)------------------------------*/

.menubar {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}



.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #000;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}



.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand  {
    font-weight: bold;
    font-size: x-large;
     
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.mr-auto, .mx-auto {
    margin-left: 200px;
}



/* -------------------Landing Page (Used and modified code from Whiskey Drop mini project)------------------------------*/

.landing-page {
height: 90vh;

background: url("../images/pic1.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 30px;
    padding-top: 100px;
}


.text-uppercase {
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

/*--------------------Programs----------------------*/
.card {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(212, 212, 212);
    padding: 0px 0px 10px 0px;
    background-clip: border-box;
    border: 1px solid #fff;
    border-radius: .25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    margin-bottom: 5px;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
   
}

.brand {
    background-color: white;
    margin-bottom: 20px;
    text-align: center;
    
    
}

.brand h2 {
    color: #3206f7;
    letter-spacing: 6px;

}

/*---------------------Break------------------*/

.landing-page2 {
    background: url("../images/landing.jpg") no-repeat bottom right fixed; 
}


.break-header2 {
    color: white;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom:40px; 
}

.landing-page3 {
    background: url("../images/landing2.jpg") no-repeat bottom right fixed; 
}

/*-----------------Testimonials-----------------*/

.testimonials {
    margin: 50px auto;
}

.testimonials h1 {
    text-align: center;
    font-weight: bold;
    color: #3206f7;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.testimonials h1::after {
   content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}




